p115client==0.0.8.2
p123client==0.0.9.2
flask>=3.0.0
flask-cors
pyrogram>=2.0.0
tgcrypto>=1.2.2
pytelegrambotapi>=4.14.0
telethon==1.42.0
schedule>=1.2.0
qrcode>=7.0
traceback
h2
selenium>=4.0.0
webdriver-manager>=4.0.0
curl_cffi>=0.6.0
aiofile
aiohappyeyeballs
aiohttp
aiosignal
anyio
attrs
babelfish
beautifulsoup4
bitarray
blinker
brotli
caio
certifi
cffi
charset-normalizer
click
colorama
cryptography
ecdsa
ed2k
errno2
frozenlist
guessit
h11
http-response
httpcore
httpcore-request
httpx
httpx-request
idna
iniconfig
integer-tool
iter-collect
iterdir
itsdangerous
jinja2
lz4
markupsafe
multidict
orjson
p115cipher
p115pickcode
packaging
pluggy
posixpatht
propcache
pycparser
pycryptodome
pygments
pytest
python-argtools
python-asynctools
python-concurrenttools
python-cookietools
python-dateutil
python-decotools
python-dictattr
python-dicttools
python-dotenv
python-encode-uri
python-ensure
python-filewrap
python-hashtools
python-http-request
python-httpfile
python-iterutils
python-partial
python-property
python-startfile
python-temporary
python-texttools
python-undefined
python-urlopen
rebulk
requests
six
sniffio
soupsieve
sqlitetools
tqdm
typing-extensions
urllib3
wcwidth
werkzeug
wheel
yarl
zstandard
